body {
    margin: 0;
    overflow: hidden;
}


.container {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: aqua;
    height: 400px;
    width: 400px;

}